body{
    background-size: cover;
    background-position: center;
}

.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
box-shadow: 5px 9px 40px rgb(255, 255, 255);
}

.but1{
    width: 300px;
    border-radius:25px;
    font-size: 20px;
}

.but2{
    width: 300px;
    border-radius:25px;
    font-size: 20px;
}

.but3{
    width: 300px;
    border-radius:25px;
    font-size: 20px;
}

.but4{
    width: 300px;
    border-radius:25px;
    font-size: 20px;
}
.back{
    float: right;
    background-color: rgb(243, 0, 0);
    color: rgb(251, 255, 0);
    margin: 10px;
}
